{
  "entryId": "massachusetts",
  "contents": [
    {
      "type": "html",
      "content": "Beahizhiihets, <i>Massachusetts</i>",
      "style": "right"
    },
    {
      "type": "audio",
      "content": "1a",
      "style": "right"
    }, 
    {
      "type": "audio",
      "content": "1c",
      "style": "right"
    }
  ]
}
