{
  "entryId": "cup_of_joe",
  "contents": [
    {
      "type": "html",
      "content": "Hibiyo, lit. Cup of Joe, <i>Coffee</i>",
      "style": "right"
    },
    {
      "type": "audio",
      "content": "1a",
      "style": "right"
    },
    {
      "type": "audio",
      "content": "1c",
      "style": "right"
    }
  ]
}
